header {
  display: flex;
  flex-direction: column;
}

.container {
  text-align: center;
}

.image-grid {
  display: grid;
  margin: 10px;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.image-item:nth-child(5n) {
  grid-column-end: span 2;
}

img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination span {
  min-width: 20px;
  padding: 0;
  display: inline-block;
  margin: auto 5px;
  text-align: center;
}

.page-item {
  margin: 0 3px;
}

button:disabled,
button[disabled]{
  border: 1px solid #cccccc;
  background-color: #cccccc;
  color: #666666;
}
